
/* Preview.css */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#container h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0px;
  }

#container p{
    align-items: center;
    line-height: 1.9;
  }
#container div{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  #novelBlockchain,
  #centurySkills, #montessoriEducation 
   {
    border-bottom: 1px solid hsla(89, 45%, 54%, 0.823);;
    background-color: hsla(89, 45%, 54%, 0.61);
  }

#signUpButton {
    margin: 30px;
 }